Repository rantifamilusi/devops, pull requests merged in 2022-04, with the labels that each got.

#7 Add Code Scan
  .github/labeler.yml
  .github/workflows/build-api.yml
  .github/workflows/build-dev-image.yml
  .github/workflows/code-scan.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/k8s-deploy.yml
  .github/workflows/main-deployment.yml
  .github/workflows/terraform-apply.yml
  SampleApp/SampleApp.Api/Dockerfile
  SampleApp/SampleApp.Api/SampleApp.Api.csproj
  SampleApp/SampleApp.Api/Startup.cs
  SampleApp/SampleApp.Tests/WeatherForecastTests.cs
  images/DevOps_Process-Non-Prod.png
  images/DevOps_Process-Prod.png
  manifests/deployment.yaml
  manifests/ingress.yaml
  manifests/service.yaml
Labels: Weather Service API, DevOps

#11 update image
  .github/workflows/main-deployment.yml
Labels: DevOps

#12 update
  .github/workflows/build-dev-image.yml
  .github/workflows/main-deployment.yml
Labels: DevOps

#14 Feature/terraform
  .github/workflows/main-deployment.yml
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-destroy.yml
  .github/workflows/terraform-plan.yml
Labels: DevOps

#16 Feature/GitHub actions ci
  .github/workflows/k8s-deploy.yml
  .github/workflows/main-deployment.yml
  .github/workflows/terraform-apply.yml
Labels: DevOps

#17 update workflow call
  .github/workflows/k8s-deploy.yml
  manifests/deployment.yaml
Labels: DevOps

#18 Feature/GitHub actions ci
  .github/workflows/k8s-deploy.yml
  manifests/deployment.yaml
  manifests/ingress.yaml
  manifests/service.yaml
Labels: DevOps

#21 Updated - tfvars
  Infrastructure/terraform-dev.tfvars
  Infrastructure/terraform-main.tfvars
Labels: Terraform Infrastructures

#22 Fix/cors api
  SampleApp/SampleApp.Api/Controllers/WeatherForecastController.cs
  SampleApp/SampleApp.Api/SampleApp.Api.csproj
  SampleApp/SampleApp.Api/Startup.cs
  SampleApp/SampleApp.Api/wwwroot/index.html
  SampleApp/SampleApp.Tests/WeatherForecastTests.cs
Labels: Weather Service API

#20 UI updates
  SampleApp/SampleApp.Api/Startup.cs
  SampleApp/SampleApp.Api/wwwroot/index.html
Labels: Weather Service API

#23 Updated - Minor Update
  Infrastructure/main.tf
Labels: Terraform Infrastructures
